
@{
    ViewBag.Title = "Faqs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="outer-container">
    <div class="col-md-10 col-md-offset-1" id="inner-container">
        <div class="formlayout-container">
            <div class="form-box">

                <h3 class="custom-form-heading">FAQs...</h3>
            </div>
    </div>
</div>
    </div>

