@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="row" id="outer-container">
    <div class="col-md-10 col-md-offset-1" id="inner-container">
        <div class="formlayout-container">
            <div class="form-box">

                <hgroup class="title">
                    <h3>@ViewBag.Title.</h3>
                </hgroup>
                <div>
                    <p>
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
    </div>
</div>
</div>