@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}


<div class="row" id="outer-container">
    <div class="col-md-10 col-md-offset-1" id="inner-container">
        <div class="formlayout-container">
            <div class="form-box">

                <hgroup>
                    <h3 class="text-danger">Locked out.</h3>
                    <h4 class="text-danger">This account has been locked out, please try again later.</h4>
                </hgroup>
            </div>
        </div>
    </div></div>